---
import { ctaLink } from '../config.ts';
const { ctaHref } = Astro.props;
const href = ctaHref || ctaLink('index', 'nav');
---
<header class="legal-nav">
  <a href="/blog/" class="brand">
    <span>
      <span class="wm"><span class="n">cash</span><span class="o">asis</span></span>
      <span class="sub" style="display:block">WE BUY HOUSES AS-IS</span>
    </span>
  </a>
  <a href={href} class="back">Get a Cash Offer &rarr;</a>
</header>
